.header {
  display: flex;
  background-color: var(--background-darker);
  color: var(--on-background);
  padding: 0 25px;
  border-bottom: 1px solid black;
  height: 75px;

  h1 {
    margin: 0;
    line-height: 75px;
  }
}

.logo {
  margin: auto 0;
  font-size: 2em;
  font-weight: 500;
}

.auth-button {
  margin: auto 0;
}

.search-field {
  margin: auto 0 auto auto;
  padding-right: 25px;
  position: relative;
  top: -8px;
}
