.player-bar {
  position: absolute;
  display: flex;
  background-color: var(--background-darker);
  color: var(--on-background);
  bottom: 0;
  border-top: 1px solid black;
  width: 100%;
  height: 100px;

  &.not-playing {
    justify-content: center;
    align-items: center;
  }
}

.now-playing-info {
  display: flex;
  align-items: center;
  width: 25%;
  min-width: 270px;
  padding: 0 15px;

  .artwork {
    width: 70px;
    height: 70px;
  }

  .now-playing-text {
    margin-left: 10px;
    overflow: hidden;
    span { display: block; }
  }
}

.media-controls {
  display: block;
  width: 50%;

  .media-control-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 11px;

    .play {
      padding: 0 20px;
      i {
        color: var(--on-background);
        font-size: 40pt;
        &:hover { color: var(--primary); }
      }
    }
    .previous, .next {
      i {
        color: var(--on-background);
        font-size: 30pt;
        &:hover { color: var(--primary); }
      }
    }
    .repeat, .shuffle {
      padding: 0 15px;
      i {
        color: var(--on-background);
        font-size: 15pt;
      }
    }

    i {
      cursor: pointer;
    }

    .spinner {
      margin: 7px 3px 0 3px;
    }
  }

  .media-progress-bar {
    display: flex;
    padding: 0 20px;

    .current-playback-time, .current-playback-duration {
      position: relative;
      top: 1px;
      color: black;
      width: 60px;
      font-size: 11pt;
    }

    .current-playback-duration {
      text-align: end;
    }
  }
}

.extra-controls {
  display: flex;
  width: 25%;
  min-width: 270px;
  justify-content: flex-end;

  .volume-slider {
    display: flex;
    width: 70%;
    align-items: center;
    i { padding: 0 15px; }
  }
}
