.room-bar {
  background: var(--background-darker);
  border-right: 1px solid black;
  height: calc(100vh - 175px);
  width: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
